body {
  background-image: url("https://previews.123rf.com/images/costasz/costasz1802/costasz180200052/96239324-top-view-of-a-row-of-colorful-books-with-copy-space.jpg");
  background-position-y: 190in;
  background-size: 100%;
}

.first-page {
  text-align: center;
}

.intro {
  margin-bottom: 30px;
  font-size: 150%;
  font-family: Courier;
}

.admission-help {
  font-size: 110%;
}

.boost {
  margin-top: -40px;
}

a {
  color: rgb(138, 5, 5);
  text-decoration: none;
}

a:hover {
  color: rgb(249, 3, 3);
}

a:active {
  color:rgb(13, 32, 201);
}

.du {
  display: inline-block;
  width: 25%;
  margin-top: 23px;
}

.iut {
  display: inline-block;
  width: 25%;
}

.buet {
  display: inline-block;
  width: 25%;
}