.detailed-info, .basic-info {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    background-color:aliceblue;
    border-radius: 0.3rem;
    border-color: black;
    border-width: 0.05rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    border-style: solid;
}
.detailed-info{
    display:grid;
    gap: 50px 100px;
}
.employeer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: -2%;
}
.present-address, .permanent-address, .father-info, 
.mother-info, .education, .previous-jobs, 
.skills, .interests, .marital-status, .religion{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.employer-edit > .submit {
    text-align: center;
}
.employer-edit > .submit > .submit{
    height: 40px;
    width: 100px;
    font-size: larger;
    background-color: green;
    color: white;
}