.job-info, .detailed-info {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    background-color:aliceblue;
    border-radius: 0.3rem;
    border-color: black;
    border-width: 0.05rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    border-style: solid;
}
.post-job{
    text-align: center;
    margin-top: 5%;
    margin-bottom: -2%;
}
.detailed-info{
    display:grid;
    gap: 50px 100px;
}
.job-location, .experience-requirement, 
.eduation-requirements, .salary {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 1px 2px 0 rgba(0, 0,  0, 0.1);
}

.job-apply > .apply {
    text-align: center;
}
.job-apply > .apply > .apply{
    height: 40px;
    width: 100px;
    font-size: larger;
    background-color: green;
    color: white;
}