.search-bars{
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: justify;
    background-color:aliceblue;
    border-radius: 0.3rem;
    border-color: black;
    border-width: 0.05rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    border-style: solid;
    display: flex;
    justify-content:space-between;
}
.search-page-healine{
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: -4%;
}
.search-bar{
    /* background-color: red; */
    width: 650px;
    height: 40px;
}
.search-bar-main{
    /* background-color: green; */
    display: flex;
    justify-content:space-between;
    width: 70%;
    height: 200%;
}
.filters{
    /* background-color: yellow; */
    margin-right: 3%;
    margin-left: -3%;
}
.filter, .place{
    height: 100%;
    width: 45%;
}
.page-jump{
    margin-bottom: -50%;
}
.result1, .result2, .result3, .result4, .result5, .result6, .result7 {
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 1%;
    text-align: justify;
    background-color:aliceblue;
    border-radius: 0.3rem;
    border-color: black;
    border-width: 0.05rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    border-style: solid;
    display: flex;
    justify-content:space-between;
}
.page-jump{
    margin-top: 1%;
    margin-left: 10%;
    text-align: center;
    height: 200%;
    width: 80%;
    /* background-color: aquamarine; */
}
.search {
    margin-left: 3%;
    margin-right: -5%;
    width: 15%;
}